Importing modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
import datetime

Stablishing routes

In [2]:
df_char = pd.read_csv(r"C:\Users\gnchu\Downloads\cleaned data\cleaned_characters(1).csv")

df_char.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 637 non-null    object
 1   Gender               637 non-null    object
 2   Game                 637 non-null    object
 3   Age_range            637 non-null    object
 4   Playable             637 non-null    int64
 5   Sexualization_total  637 non-null    int64
 6   Id                   637 non-null    object
 7   Species              637 non-null    object
 8   Alliance             637 non-null    object
 9   Function             637 non-null    object
 10  Romantic_Interest    637 non-null    int64
dtypes: int64(3), object(8)
memory usage: 54.9+ KB

In [3]:
df_sex = pd.read_csv(r"C:\Users\gnchu\Downloads\cleaned data\cleaned_sexualization.csv")
df_sex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   character_id          637 non-null    object
 1   Sexualized_clothing   637 non-null    int64
 2   Trophy                637 non-null    int64
 3   Damsel in Distress    637 non-null    int64
 4   Sexualized Cutscenes  637 non-null    int64
 5   Total                 637 non-null    int64
dtypes: int64(5), object(1)
memory usage: 30.0+ KB

First stats

In [4]:
df_sex.describe()

,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
count,637.000000,637.000000,637.000000,637.000000,637.000000
mean,0.029827,0.010989,0.028257,0.017268,0.086342
std,0.170244,0.104333,0.165838,0.130372,0.389022
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,3.000000

In [5]:
df_char.describe()

         Playable  Sexualization_total  Romantic_Interest
count  637.000000           637.000000         637.000000
mean     0.193093             0.086342           0.124019
std      0.395035             0.389022           0.454195
min      0.000000             0.000000           0.000000
25%      0.000000             0.000000           0.000000
50%      0.000000             0.000000           0.000000
75%      0.000000             0.000000           0.000000
max      1.000000             3.000000           2.000000

More examples

In [6]:
df_char.head(10)

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
0,Farah,Female,CODMW,Adult,1,0,CODMW_Farah,Human,Protagonist,PA,0
1,Protagonist,Custom,PSS,Teenager,1,0,PSS_Protagonist,Human,Protagonist,PA,0
2,Magnolia,Female,PSS,Elderly,0,0,PSS_Magnolia,Human,Protagonist,SC,0
3,Sonia,Female,PSS,Adult,0,0,PSS_Sonia,Human,Protagonist,SC,0
4,Marnie,Female,PSS,Teenager,0,0,PSS_Marnie,Human,Both,MC,0
5,Oleana,Female,PSS,Adult,0,0,PSS_Oleana,Human,Antagonist,SC,0
6,Peach,Female,SMO,Adult,0,2,SMO_Peach,Human,Protagonist,MC,1
7,Zelda,Female,BOTW,Teenager,0,0,BOTW_Zelda,Human,Protagonist,DA,0
8,Protagonist,Custom,PSM,Child,1,0,PSM_Protagonist,Human,Protagonist,PA,0
9,Ciri,Female,TW3,Young adult,0,2,TW3_Ciri,Human,Protagonist,DA,0

I don't agree with zelda as no trophy, also she's kidnapped

In [7]:
df_sex.head(10)

,character_id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0
5,PSS_Oleana,0,0,0,0,0
6,SMO_Peach,0,1,1,0,2
7,BOTW_Zelda,0,0,0,0,0
8,PSM_Protagonist,0,0,0,0,0
9,TW3_Ciri,1,0,1,0,2

In [9]:
df_char.value_counts("Gender")

Gender
Male          393
Female        203
Non-binary     33
Custom          8
Name: count, dtype: int64

Checking from what games comes non-binary

In [10]:
df_non_b = df_char[df_char['Gender'] == 'Non-binary'][['Gender', 'Game']]
print(df_non_b)

         Gender    Game
11   Non-binary      UT
16   Non-binary     JRN
56   Non-binary      UT
207  Non-binary     BSI
222  Non-binary     JRN
223  Non-binary     JRN
224  Non-binary     JRN
257  Non-binary      TN
258  Non-binary      TN
263  Non-binary      ER
267  Non-binary      ER
283  Non-binary      NW
308  Non-binary     NRA
325  Non-binary   IWATE
339  Non-binary   IWATE
346  Non-binary     IMM
347  Non-binary     IMM
371  Non-binary    CACW
396  Non-binary    OAWW
399  Non-binary    OAWW
432  Non-binary  TINGWD
456  Non-binary    OABF
460  Non-binary    OABF
502  Non-binary     CLS
503  Non-binary      DC
508  Non-binary    HLKN
512  Non-binary    HLKN
529  Non-binary    NITW
532  Non-binary    NITW
569  Non-binary    MGSV
571  Non-binary    TSWP
599  Non-binary   TBOIR
628  Non-binary    KBOS

Merging character and sexualization tables, when grouped by gender, what can we learn about designers clothing choices for characters? Which (if any) gender is most likely to wear sexualized clothing?
Joining gender-sex_cloths and then doing a sum

In [12]:
df_sex.rename(columns={'character_id': 'Id'}, inplace=True)
print(df_char.columns)
print(df_sex.columns)

Index(['Name', 'Gender', 'Game', 'Age_range', 'Playable',
       'Sexualization_total', 'Id', 'Species', 'Alliance', 'Function',
       'Romantic_Interest'],
      dtype='object')
Index(['Id', 'Sexualized_clothing', 'Trophy', 'Damsel in Distress',
       'Sexualized Cutscenes', 'Total'],
      dtype='object')